<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.min.css">
 <script src="libraries/bootstrap/js/bootstrap.min.js"></script>

</head>
<body style="margin: 0;">

<header id="header_main">
	<div class="container">
	    <div class="row">
	        <div class="col-xs-1 col-md-2">
	        	<a href=""><img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Canal%2B_Seriale.png"></a>
	        </div>
	        <div class="col-xs-11 col-md-8">
	        	<input type="text" id="search" name="Search" placeholder=" Szukaj..">
	        	<nav class="navigationMain">
					<li class="navigationOption">Filmy</li>
					<li class="navigationOption">Seriale</li>
					<li class="navigationOption">Gry</li>
					<li class="navigationOption">Muzyka</li>
						<div class="dropdown">
			<li class="navigationOption"> 
			User
		  <div class="dropdown-content">
		    <a href="#">Profil</a>
		    <a href="#">lorem</a>
		    <a href="#">Wyloguj</a>
		  </div>
			 </li>
			 </div>
				</nav>

	        </div>
	        <div class="col-md-2">
	        	<a  href="register.jsp"><div id="Register">Zaloz konto</div></a>
	        </div>
	    </div>
	</div>
</header>


<div class="container ">
	      <div class="row lastWatched overlay_container">
        <div class="col-sm-2">
        	<p>Highest rated: </p>
        </div>
        <div class="col-sm-2 ">
        	<img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg">
        	<div class="user_rating"><span>6</span></div>
        	<a href=""><div class="overlay"><h3>Title</h3></div></a>
        </div>
        <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="user_rating"><span>6</span></div>
        	<a href=""><div class="overlay"><h3>Title</h3></div></a>
        </div>
        <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="user_rating"><span>6</span></div>
        	<a href=""><div class="overlay"><h3>Title</h3></div></a>
        </div>
        <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="user_rating"><span>6</span></div>
        	<a href=""><div class="overlay"><h3>Title</h3></div></a>
        </div>
          <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="user_rating"><span>6</span></div>
        	<a href=""><div class="overlay"><h3>Title</h3></div></a>
        </div>
    </div>
    <div class="row lastWatched overlay_container">
        <div class="col-sm-2">
        	<p>Recently watched: </p>
        </div>
        <div class="col-sm-2 ">
        	<img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg">
        	<div class="overlay"><h3>Title</h3></div>
        </div>
        <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="overlay"><h3>Title</h3></div>
        </div>
        <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="overlay"><h3>Title</h3></div>
        </div>
        <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="overlay"><h3>Title</h3></div>
        </div>
          <div class="col-sm-2">
        	<a href=""><div><img src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
        	<div class="overlay"><h3>Title</h3></div>
        </div>
    </div>
</div>













<!--
<div id="first_element_container">
	<div id="first_element">
	<div class="container">
	    <div class="row">
	        <div class="col-md-7">
	        	<h3 id="first_element_h3">TV TIME Because there's SO MUCH good TV.</h3>
				<p id="first_element_p">Track the shows you love and react to the moments that move you.</p>
	        </div>
	        <div class="col-md-5">
	        	<img id="first_element_img"  src="https://qph.fs.quoracdn.net/main-qimg-2cd4de50c761b1c9d27571de48996029">
	        </div>
	        <div class="col-md-4">
	        	<a href="#"><button id="first_element_btn">Create account</button></a>
	        </div>
	    </div>
	</div>
</div>
</div>

-->

<div id="top5">
		<div class="top5_text"></div>
		<h3>Say hello to new shows</h3>
		<p>Get personal recommendations for what to watch next, plus see what your friends are watching too!</p>
		<a href=""><div><img class="top5img" src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
		<a href=""><div><img class="top5img" src="http://image.tmdb.org/t/p/w185/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg"></div></a>
		<a href=""><div><img class="top5img" src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
		<a href=""><div><img class="top5img" src="http://image.tmdb.org/t/p/w185/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg"></div></a>
		<a href=""><div><img class="top5img" src="http://image.tmdb.org/t/p/w185/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg"></div></a>
	</div>





	<footer id="footer">
		<div class="ftr_body">
			<div class="ftr_logo">
				<a href=""><img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Canal%2B_Seriale.png"></a>
			</div>
			<div class="ftr_part">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="ftr_part">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</footer>

</body>
</html>