<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="newsList.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.min.css">
 <script src="libraries/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container">
    <div class="row">
        <div class="col-12 ">
        	<a href="">
        	<div class=" mainNewsBlur ">
	        		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
			</div>

        	</a>
        </div>
        <div class="col-12">
        	
        	
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ">
        	<a href="">
        	<div class="smallNews">
        	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        	</div>
        	</a>
        </div>
             <div class="col-md-4 ">
        	<a href="">
        	<div class="smallNews">
        	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        	</div>
        	</a>
        </div>
             <div class="col-md-4">
        	<a href="">
        	<div class="smallNews">
        	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        	</div>
        	</a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-6 ">
        	<a href="">
        	<div class="smallNews">
        	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        	</div>
        	</a>
        </div>
         <div class="col-md-6 ">
        	<a href="">
        	<div class="smallNews">
        	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        	</div>
        	</a>
        </div>
    </div>
      <div class="row">
        <div class="col-12 ">
        	<a href="">
        	<div class="smallNews">
        	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>
        	</div>
        	</a>
        </div>
    </div>	    
</div>

</body>
</html>