<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nazwa serialu</title>
<link rel="stylesheet" type="text/css" href="serial.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.min.css">
 <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="margin: 0;" >

<div id="creator_info_container">
	<div class="container">
		<a href="">
    <div class="row creator_info">
        <div class="col-3 creator_info_img">
        	<img src="https://vignette.wikia.nocookie.net/walkingdead/images/9/97/Season_eight_rick_grimes.png/revision/latest?cb=20171107015635">
        </div>
        <div class="col-5">
        	<p>Andrew lincoln</p>
        </div>
        <div class="col-4">
        	<p>as Rick Grimes</p>
        </div>
    </div>
</a>
</div>

</div>


<div class="overview">
		<h2>Overview:</h2>
		<p id="overview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>


</body>
</html>