<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="tvShows.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.min.css">
 <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 sortBySelector">
        	<h3>Sort by: </h3>
        	<span >Popularity</span>
        	<span >Rating</span>
        	<span >Name</span>
        	<span >Language</span>
        	<span >Number of episodes</span>
        	<span >Number of seasons</span>
        </div>
        <div class="col-sm-10">
        	


        </div>
    </div>
</div>

<div class="results_container">
<div class="container results_new">
    <div class="row results_new_cont">
        <div class="col-sm-12 col-md-2">
        	<div class="results_details_new">
	        	<img src="https://www.classicposters.com/images/nopicture.gif">
				<img src="http://image.tmdb.org/t/p/w185//nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg">
			</div>
			</div>
       
        <div class="col-sm-12 col-md-10">
        	<div class="results_details_big_new"><h3>Interstellar</h3><p>(2011)</p>
        	</div>
        	<div class="results_details_big_new">
				<div class="results_details_big_sub_new"><p>Popularity: </p></div>
				<div class="results_details_big_sub_new"><p>Original language: </p></div>
			
        </div>
    </div>
    </div>
</div>
</div>

<div id="pagination">
	<div class="pagination">
	  <a href="#">&laquo;</a>
	  <a href="#">1</a>
	  <a class="active" href="#">2</a>
	  <a href="#">3</a>
	  <a href="#">4</a>
	  <a href="#">5</a>
	  <a href="#">6</a>
	  <a href="#">&raquo;</a>
	</div>
</div>

</body>
</html>