.sortBySelector{
    text-align: center;
}
.sortBySelector span{
    cursor: pointer;
    margin: 25px;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    color:  #4d0066;
}
.sortBySelector :hover {
    color:  #9d0066;
    transition: 0.25s;
    text-decoration: underline;
}


.results_container{
    height: 500px;
}
.results_new{
    cursor: pointer;
    margin: 25px;
    border-style: solid;
    border-color: #4d0066;
    border-width: 2px;
    border-radius: 15px;

}
.results_details_new{
    height: 146px;
    text-align: center;
}
.results_details_new img{
    position: absolute;
    float: left;
    height: 146px;
    border-radius: 15px;
    width: 100px;
    margin: 0 -50px;
 
}
.results_details_big_new{
    text-align: center;
    width: 100%;
    height: 50%;
}
.results_details_big_sub_new{
    float: left;
    width: 50%;
    height: 100%;
}



/* Pagination links */
#pagination{
    width: 300px;
    margin: 0 auto;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #4d0066;
    color: white;
}
.pagination a {
    border-radius: 5px;
}

.pagination a.active {
    border-radius: 5px;
}
/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}









